
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #f0f0f0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center;
    background-size: cover; /* Ensure the background covers the entire area */
    z-index: -1;
    animation: fluidBackground 20s ease-in-out infinite;
    background-repeat: no-repeat; /* No repeat for fluid effect */
}

@keyframes fluidBackground {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } /* Slight zoom in */
    100% { transform: scale(1); } /* Zoom back out */
}

.content {
    position: relative;
    z-index: 1;
    text-align: left;
    backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.5); /* Grey background */
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
}

.logo {
    max-width: 400px; /* Increased logo size */
    display: block;
    margin: 0 auto 20px; /* Center the logo */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 25px; /* Increased space between items */
}

ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 32px; /* Increased text size by 10px */
    margin-left: 20px;
}

.icon {
    max-width: 42px; /* Larger icons */
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    body {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    .background-animation {
        height: 100vh;
        animation: fluidBackgroundMobile 20s ease-in-out infinite;
        background-size: cover; /* Cover the full area */
        background-repeat: no-repeat; /* No repeat for fluid effect */
    }

    @keyframes fluidBackgroundMobile {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); } /* Slight zoom in */
        100% { transform: scale(1); } /* Zoom back out */
    }

    .content {
        max-width: 100%;
        padding: 15px;
        border-radius: 10px;
    }

    ul li a {
        font-size: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .background-animation {
        height: 100vh;
        animation: fluidBackgroundMobile 20s ease-in-out infinite;
        background-size: cover; /* Cover the full area */
        background-repeat: no-repeat; /* No repeat for fluid effect */
    }

    .content {
        padding: 10px;
        border-radius: 10px;
    }

    ul li a {
        font-size: 28px;
    }
}
