body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #f0f0f0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10%); }
}

.content {
    position: relative;
    z-index: 1;
    text-align: left;
    backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.5); /* Grey background */
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
}

.logo {
    max-width: 250px; /* Increased logo size */
    display: block;
    margin: 0 auto 20px; /* Center the logo */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 25px; /* Increased space between items */
}

ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 22px; /* Increased text size */
    margin-left: 20px;
}

.icon {
    max-width: 32px; /* Larger icons */
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    body {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    .background-animation {
        height: 50vh;
        animation: moveBackgroundMobile 20s linear infinite;
    }

    @keyframes moveBackgroundMobile {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10%); }
    }

    .content {
        max-width: 100%;
        padding: 15px;
        border-radius: 10px;
    }

    ul li a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .background-animation {
        height: 50vh;
        animation: moveBackgroundMobile 20s linear infinite;
    }

    .content {
        padding: 10px;
        border-radius: 10px;
    }

    ul li a {
        font-size: 18px;
    }
}
