html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure minimum height covers full viewport */
    position: relative;
    overflow: hidden;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    animation: fluidBackground 20s ease-in-out infinite;
}

@keyframes fluidBackground {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } /* Slight zoom in */
    100% { transform: scale(1); } /* Zoom back out */
}

.content {
    position: relative;
    z-index: 1;
    text-align: left;
    backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.5); /* Grey background */
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
}

.logo {
    max-width: 400px; /* Logo size */
    display: block;
    margin: 0 auto 20px; /* Center the logo */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 25px; /* Increased space between items */
}

ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 32px; /* Increased text size */
    margin-left: 20px;
}

.icon {
    max-width: 42px; /* Larger icons */
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .content {
        max-width: 90%; /* Content width adjusted for mobile */
        padding: 15px;
    }

    .background-animation {
        height: 100vh; /* Full viewport height for background */
    }

    ul li a {
        font-size: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        padding: 10px;
    }

    ul li a {
        font-size: 28px;
    }
}
